.header-button {
  position: relative;
}

.button-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #2563eb;
  transition: width 0.3s;
}

.header-button:hover .button-underline {
  width: 100%;
}

.button-underline-active {
  width: 100%;
  height: 2px;
  background-color: #2563eb;
}
