@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: white;
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: pretty;
	}
}

div[data-lastpass] {
	display: none;
}

.lpsystem,
.lastpass-injected {
	display: none;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #a0aec0; /* Prilagodite boju scrollbar-a */
	border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #718096; /* Boja prilikom hover efekta */
}

.select-none {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	user-select: none; /* Standard syntax */
}

.maxWidthCustom {
	max-width: calc(100dvw - 80px);
}
